<%- include('partials/aheader') -%>

<body id="page-top">
  <div id="wrapper">
    <%- include('partials/sidebar') -%>
      <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
              <%- include('partials/profiledrop') -%>
            </nav>

            <!-- HERE IT STARTS -->
            <div class="modal-dialog d-flex justify-content-center">
              <div class="modal-content w-100" style="border-radius: 15px;">
                  <div class="modal-header">
                      <img src="\img\Mess.png" style="width: 90px; height: 80px; margin-left: 180px; margin-top: 20px;">
                  </div>

                  <div class="modal-body p-4">
                    <form method="POST" action="/achangepassword">
                        <%- include('partials/messages') -%>
                        <!-- Item Name -->
                        <div class="form-outline mb-4">
                            <label class="form-label" for="itmename" style="font-family: Roboto, sans-serif; color: #000000">Current Password</label>
                            <input type="password" class="form-control" id="name" name="oldpassword" required>
                        </div>
                        
                        <!-- Item Name -->
                        <div class="form-outline mb-4">
                            <label class="form-label" for="itmename" style="font-family: Roboto, sans-serif; color: #000000">New Password</label>
                            <input type="password" class="form-control" id="name" name="password" required>
                        </div>
                        
                        <!-- Item Name -->
                        <div class="form-outline mb-4">
                            <label class="form-label" for="itmename" style="font-family: Roboto, sans-serif; color: #000000">Confirm New Password</label>
                            <input type="password" class="form-control" id="name" name="confirmpassword" required>
                        </div>
                        
                        <!-- Submit button -->
                        <button type="submit" class="btn btn-primary btn-block" style="background-color: #32B9FF; border: none;font-family: Roboto, sans-serif;">Update</button>
                    </form>
                  </div>
              </div>
            </div>

            <!-- HERE IT ENDS -->
              
        </div>
        <%- include('partials/afooter') -%>
      </div>
  </div>
  
</body>





